@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Neo-brutalist standard styling
	 * 
	 * !!!!CHANGE THIS NOT THE TAILWINDCSS CONFIG!!!! 
	*/
	:root {
		/* Color scheme */
		--white: hsl(0, 0%, 100%); /* #FFFFFF */
		--black: hsl(0, 0%, 0%); /* #000000 */

		--neo-white: hsl(48, 100%, 96.08%); /* #FFFBEB */
		--neo-black: hsl(0, 0%, 10.2%); /* #1A1A1A */

		--red: hsl(0, 100%, 60%); /* #FF3333 */
		--yellow: hsl(49.89, 100%, 65.1%); /* #FFE14D */

		/* Fontface */
		--primary-font: monospace;

		/* Spacing */
		--margin-sm: 0.5rem;
		--margin-md: 1rem;
		--margin-lg: 2rem;
		--margin-xl: 4rem;

		--padding-sm: 0.5rem;
		--padding-md: 1rem;
		--padding-lg: 2rem;
		--padding-xl: 4rem;

		--border-width-sm: 3px;
		--border-width-md: 4px;
		--border-width-lg: 8px;

		--radius: 0rem;
	}

	/* Tailwindcss color scheme */
	:root {
		--background: var(--neo-white);
		--foreground: var(--neo-black);

		/* TODO */
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--popover: var(--neo-white);
		--popover-foreground: var(--neo-black);

		--card: var(--neo-white);
		--card-foreground: var(--neo-black);

		--border: var(--neo-black);
		--input: var(--neo-white);

		--primary: var(--red);
		--primary-foreground: var(--neo-white);

		--secondary: var(--yellow);
		--secondary-foreground: var(--neo-black);

		--accent: var(--neo-black);
		--accent-foreground: var(--neo-white);

		/* TODO */
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: var(--neo-white);

		--ring: var(--neo-black);
	}

	.dark {
		--background: var(--neo-black);
		--foreground: var(--neo-white);

		/* TODO */
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--popover: var(--neo-black);
		--popover-foreground: var(--neo-white);

		--card: var(--neo-black);
		--card-foreground: var(--neo-white);

		--border: var(--neo-white);
		--input: var(--neo-black);

		--primary: var(--red);
		--primary-foreground: var(--neo-black);

		--secondary: var(--yellow);
		--secondary-foreground: var(--neo-black);

		--accent: var(--neo-black);
		--accent-foreground: var(--neo-white);

		/* TODO */
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: var(--neo-white);

		--ring: var(--neo-white);
	}

	.main {
		margin: var(--margin-md);
		padding: var(--padding-md);
	}

	.neo-border-sm {
		border: var(--border);
		border-radius: var(--radius);
		border-style: solid;
		border-width: var(--border-width-sm);
	}

	.neo-border-md {
		border: var(--border);
		border-radius: var(--radius);
		border-style: solid;
		border-width: var(--border-width-md);
	}

	.neo-border-lg {
		border: var(--border);
		border-radius: var(--radius);
		border-style: solid;
		border-width: var(--border-width-lg);
	}

	.neo-shadow-sm {
		box-shadow: calc(var(--border-width-sm)) calc(var(--border-width-sm)) 0px 0px var(--border);
	}

	.neo-shadow-md {
		box-shadow: calc(var(--border-width-md)) calc(var(--border-width-md)) 0px 0px var(--border);
	}

	.neo-shadow-lg {
		box-shadow: calc(var(--border-width-lg)) calc(var(--border-width-lg)) 0px 0px var(--border);
	}

	.neo-dark {
		background-color: var(--neo-black);
		border: var(--neo-white);
		color: var(--neo-white);
	}
}

/* Directly and globally apply styling to elements */
@layer base {
	body {
		background-color: var(--background);
		color: var(--foreground);
		font-family: var(--primary-font);
	}
}
